.pagination span{
    width: 2rem;
    height: 2rem;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    color: var(--heading-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
}
.active__page{
    background-color: var(--secondary-color);
    color: white !important;
}